/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
  }
  
  .nav-container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(241, 10, 64);
    padding: 10px 20px; 
    color: white;
  }
  
  .nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px; 
    align-items: center;
    padding: 1rem;
  }
  
  button {
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
  }
  